@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

$primary-soft-blue: hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);
$neutral-main-bg: hsl(217, 54%, 11%);
$neutral-card-bg: hsl(216, 50%, 16%);
$neutral-line: hsl(215, 32%, 27%);
$neutral-white: hsl(0, 0%, 100%);
$font-size-paragraph: 18px;
$font-family: "Outfit", sans-serif;

* {
  font-family: $font-family;
}

.app {
  background-color: $neutral-main-bg;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $neutral-white;

  .card {
    background-color: $neutral-card-bg;
    width: 72.2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7.5%;

    .image_container {
      display: flex;
      position: relative;
      .card_image {
        width: 100%;
        border-radius: 8px;
        z-index: 1;
      }

      .image_mask {
        z-index: 2;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          display: none;
        }
      }

      .image_mask:hover {
        cursor: pointer;
        background-color: transparentize($color: $primary-cyan, $amount: 0.5);
        svg {
          display: unset;
        }
      }
    }
    .card_title {
      margin: 18px 0 18px 0;
      font-size: 22px;
      cursor: pointer;
    }

    .card_title:hover {
      color: $primary-cyan;
    }

    .card_description {
      color: $primary-soft-blue;
      font-size: $font-size-paragraph;
      line-height: 24px;
      margin: 0 0 18px 0;
    }

    .card_group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .price_group {
        display: flex;
        .price {
          color: $primary-cyan;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 0.5px;
          margin-left: 4px;
        }
      }
      .time_group {
        display: flex;
        svg {
          margin-top: 2px;
        }
        .time {
          color: $primary-soft-blue;
          margin-left: 4px;
        }
      }
    }

    .hr {
      width: 100%;
      height: 2px;
      background-color: $neutral-line;
      border: none;
      margin: 18px 0 18px 0;
    }

    .creator_group {
      display: flex;
      align-items: center;
      .creator_image {
        border: 2px solid $neutral-white;
        border-radius: 50%;
        width: 40px;
      }
      .span {
        margin-left: 12px;
        color: $primary-soft-blue;
        .creator_name {
          color: $neutral-white;
          cursor: pointer;
        }

        .creator_name:hover {
          color: $primary-cyan;
        }
      }
    }
  }
}

@media screen and (min-width: 376px) {
  .app {
    .card {
      width: 302px;
      padding: 24px;
    }
  }
}
